*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Public Sans;

}
.App {
  position: relative;
  width: 1440px;
  height: 1024px;
}
.nav{
  width: 1440px;
  height: 89px;
  background: #FFFFFF;
}
.nav-pic {
  width: 350px;
  height: 55px;
  display: inline-block;
}
.nav-pic img{
  width: 313px;
  height: 55px;
  margin:17px 29px 17px 25px;
  vertical-align:middle;
}
.nav-text{
  width: 1073px;
  height: 89px;
  margin-left:10px;
  display: inline;
  
}
.nav-text p{
  width: 1052px;
  height: 37px;
  font-size: 30px;
  line-height: 30px;
  display: inline-block;
}
.diary{
  position:absolute;
  left: 904px;
  top: 178px;
  width: 466px;
  height: 717px;
  background: #FFFFFF;
  border-radius: 10px;
  z-index: 2;
  overflow-y: auto;
}
.diary-close{
  display: none;
}
.diary p{
  width: 95px;
  height: 28px;
  margin:13px;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
}
.diary .first{
  width: 438px;
  /* height: 61px; */
  margin:13px;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
  display: block;
}
.diary .second{
  width: 439px;
/* height: 570px; */
margin:13px;
font-style: normal;
  font-size: 12px;
  line-height: 20px;
  display: block;
}

.diary img{
  width:400px;
  height:250px;
  display: block;
  margin:5px auto 5px auto;

}
.diary .image span{
  display: inline-block;
  width: 445px;
  margin: auto;
  text-align: center;
  font-size: 12px;
}

.intro{
  position: absolute;
width: 311px;
/* height: 288px; */
left: 10px;
top: 90px;

background: #FFFFFF;
border-radius: 10px;
}
.intro img{
  width: 311px;
  height: 208px;
  border-radius: 10px;
  margin-bottom:8px;
}
.intro .title{
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin:8px
}
.intro span{
  display: block; 
  /* height: 14px; */
  font-size: 12px;
  line-height: 14px;
  margin:10px 10px 0px 10px;
}

.App .myself{
  position: absolute;
  bottom:12px;
  left:5px;
  width: 170px;
height: 13px;
font-weight: bold;
font-size: 12px;
line-height: 14px;
color:#FFFFFF;
}
.App .myself a{
  color:#FFFFFF;
}
.App .delete{
  position: absolute;
width: 36px;
height: 36px;
top:10px;
right:10px
}